* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Login {
    height: 100%;
    width: 100%;
    background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=900&t=st=1692367736~exp=1692368336~hmac=c7df189e123fe32c376cad719fd0497391233c25c3a64dd089bc2bce87d86f09);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    border-radius: 10%;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: lightgreen;
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    margin-right: 30px auto;
    text-align: center;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: lightgreen;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}


.password-container {
    position: relative;
    width: 100%;
}


.show-password-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b4b2b2;
    font-size: 18px; 
    transition: transform 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition for transformation */
}

.show-password-btn.eye-visible {
    color: rgb(20, 20, 20);  
    transition: open; 
}


.input-field {
    height: 30px;
}
